---
import BlackH2 from "./BlackH2.astro";
import BlackH2S from "./BlackH2S.astro";
import RedP from "./RedP.astro";
import RedPS from "./RedPS.astro";
import BlackP from "./BlackP.astro";
import ArrowIcon from "./ArrowIcon.astro";
import RedButton from "./RedButton.astro";
import img01 from "../assets/img/gallery/01.jpg";
import img02 from "../assets/img/gallery/02.jpg";
import img03 from "../assets/img/gallery/03.jpg";
import img04 from "../assets/img/gallery/04.jpg";
import img05 from "../assets/img/gallery/05.jpg";
import img06 from "../assets/img/gallery/06.jpg";
import WorksCard from "./WorksCard.astro";
import WhiteH2 from "./WhiteH2.astro";
---

<section id="raboty" class="works">
  <div class="works__container _container">
    <div class="works__body mb-[55px] lg:mb-[110px]">
      <div class="mt-[50px] lg:mt-[100px] flex justify-center">
        <RedP dataAos="fade-in">Посмотрите и оцените</RedP>
      </div>
      <div class="mt-[5px] lg:mt-[10px] flex justify-center">
        <WhiteH2 dataAos="fade-in">Наши работы</WhiteH2>
      </div>
      <div
        class="flex flex-wrap justify-center gap-5 mt-[35px] lg:mt-[70px]"
      >
        <WorksCard
          img={img01}
          title="КАМИНО-ПЕЧЬ"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
        <WorksCard
          img={img05}
          title="КАМИН С ОСТЕКЛЕНИЕМ"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
        <WorksCard
          img={img02}
          title="КРЫШНАЯ КОТЕЛЬНАЯ, ТРУБЫ НАШИ"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
        <WorksCard
          img={img03}
          title="ДЫМОХОД, СОВМЕЩЕННЫЙ С ВЕНТ. КАНАЛАМИ"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
        <WorksCard
          img={img04}
          title="КАМИННЫЙ ДЫМОХОД"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
        <WorksCard
          img={img06}
          title="РАБОТА ГАЗОВОГО КОТЛА ПРИ ЗОНТЕ И БЕЗ"
          subtitle="Комплексная летняя кухня для отеля Московская область"
          dataAos="fade-in"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .works {
    background: #2b2120 url(../assets/img/back8.jpg) center center/cover no-repeat;
  }
</style>
